@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

html {
  color: black;
  background: white;
}

body {
  padding: 32px;
  margin: auto;
}

.container {
  max-width: 1024px;
  padding: 32px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
}

input {
  border: 1px solid gray;
  border-radius: 8px;

  padding: 16px 8px;
  background-color: lightgray;

  font-size: 16px;
  width: 200px;
  margin-bottom: 16px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  background: #4cc9f0;
  border-radius: 16px;
  padding: 16px 32px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin: 16px 0;
}

.outline {
  border: 1px solid #4cc9f0;
  background-color: white;
}

.placeholder {
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  background-color: lightgray;
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
