@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
$c1: #f72585;
$c2: #b5179e;
$c3: #7209b7;
$c4: #560bad;
$c5: #480ca8;
$c6: #3a0ca3;
$c7: #3f37c9;
$c8: #4361ee;
$c9: #4895ef;
$c10: #4cc9f0;

$black: #1a181f;
$white: #f4faff;

* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

html {
  color: $black;
}

body {
  padding: 32px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arm {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 32px;
  border: 2px solid $c10;

  button {
    background: $c10;
    border-radius: 16px;
    padding: 16px 32px;
    font-size: 18px;
    border: none;

    cursor: pointer;
  }
}
