.arm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 32px;
  padding: 16px;
}

.button-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

button:disabled {
  opacity: 0.3;
}

.reward {
  height: 32px;
}

.incorrect {
  border: 1px solid red;
}

.correct {
  border: 1px solid green;
}
